.GuessLines {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
}

.WordChar {
    display: flex;
    margin: 0px 3px;
    margin-top: 1%;
}

.Char {
    text-align: center;
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.CharWrapp {
    margin: 0px 2px;
}

.CharLine {
    height: 2px;
    background-color: black;
    width: 25px;
}

.CharSpace {
    margin: 0px 8px;
}