.RestartBtn {
    padding: 10px 20px;
    background: #da3131;
    border: 1px solid #da3131;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: auto;
    color: white;
    margin-top: 2%;
}

.RestartBtn:hover {
    background: #eb3e3e;
    cursor: pointer;
}
